{% extends 'resume/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% block title %}
<title>Hassan Abid</title>
{% endblock %}
{% block fbtags %}
<!-- Fb Tags-->
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Hassan Abid" />
  <meta property="article:author" content="https://www.facebook.com/hassanabidpk89" />
  <meta property="og:description" content="I'm Hassan Abid a passionate Software Engineer with several years of experience in Android,iOS and web programming. I'm based in Seoul and currently working for NexStreaming Corp.
                    In my free time, I help under-represented people to learn programming. My favorite quote is Simplicity is the ultimate sophistication. When I am not coding, I go out for hiking, running or cycling." />
  <meta property="og:image"content="{% static 'resume/images/hassan_gds.jpg' %}" />
  <meta property="og:url" content="http://hassanabid.com" />
{% endblock %}
{% block contact-active %}
is-active
 {% endblock %}
{% block content %}
<div class="mdl-grid portfolio-max-width portfolio-contact">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Contact</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="{% static 'resume/images/contact-image.jpg' %}" border="0" alt="">
        </div>
        <div class="mdl-card__supporting-text">
            <p>Thanks for getting in touch! I will get back to you ASAP!</p>
        </div>
    </div>
</div>
{% endblock %}
