{% extends 'resume/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% block title %}
<title>Hassan Abid</title>
{% endblock %}
{% block fbtags %}

<!-- Fb Tags-->
<meta name="description" content="Hassan is a passionate Software Engineer with several years of experience in
Android,iOS and Web development. He is currently based in Seoul.When he’s not coding, he can be found hiking, running or
cycling with his smart watch to record all his outdoor activities.">
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Hassan Abid" />
  <meta property="fb:app_id" content="722253317920977" /> 
  <meta property="article:author" content="https://www.facebook.com/hassanabidpk89" />
  <meta property="og:description" content="Hassan is a passionate Software Engineer with several years of experience in
  Android,iOS and Web development. He is currently based in Seoul.When he’s not coding, he can be found hiking, running or
  cycling with his smart watch to record all his outdoor activities." />
  <meta property="og:image"content="http://www.hassanabid.com/static/resume/images/hassan_gds.jpg" />
  <meta property="og:url" content="http://hassanabid.com" />

{% endblock %}
{% block port-active %} is-active {% endblock %}
{% block content %}
<div class="mdl-grid portfolio-max-width">
    {% if projects %}
    {% for project in projects %}
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      {% if project.image %}
        <div class="mdl-card__media">
            <img class="article-image" src="{{ project.image.url }}" border="0" alt="">
        </div>
      {% endif %}
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ project.title }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{ project.description|markdown }}
          <div class="skill-inline">
          {% for skill in project.skills.all %}
          <img id='{{ skill.slug }}' class="project-skill-logo" src="{{ skill.logo.url }}">
          <div class="mdl-tooltip mdl-tooltip--large" for="{{ skill.slug }}">
            {{ skill.title }}<br>({{ skill.term }})
          </div>
          {% endfor %}
        </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          {% if project.android %}
           <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ project.android }}">
             <i class="material-icons">android</i> Android
           </a>
           {% endif %}
           {% if project.web %}
           <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ project.web }}">
             <i class="material-icons">web</i> Web
           </a>
           {% endif %}
            {% if project.ios %}
           <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ project.ios }}">
             <i class="material-icons">phone_iphone</i> iOS
           </a>
           {% endif %}
          {% if project.github_link %}
           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{{ project.github_link }}">
             <i class="material-icons">link</i> GITHUB
           </a>
           {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>No projects added yet</h3>
    {% endif %}
</div>
{% endblock %}
