{% extends 'resume/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% load humanize %}
{% block title %}
<title>Hassan Abid - Blog</title>
{% endblock %}
{% block fbtags %}
<!-- Fb Tags-->
<meta name="description" content="Hassan is a passionate Software Engineer with several years of experience in
Android,iOS and Web development. He is currently based in Seoul.When he’s not coding, he can be found hiking, running or
cycling with his smart watch to record all his outdoor activities.">
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Hassan Abid" />
  <meta property="fb:app_id" content="722253317920977" />
  <meta property="article:author" content="https://www.facebook.com/hassanabidpk89" />
  <meta property="og:description" content="Hassan is a passionate Software Engineer with several years of experience in
  Android,iOS and Web development. He is currently based in Seoul.When he’s not coding, he can be found hiking, running or
  cycling with his smart watch to record all his outdoor activities." />
  <meta property="og:image"content="http://www.hassanabid.com/static/resume/images/hassan_gds.jpg" />
  <meta property="og:url" content="http://hassanabid.com/blog" />
{% endblock %}
{% block blog-active %} is-active {% endblock %}
{% block fbjs %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '722253317920977',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
{% block content %}
<div class="mdl-grid portfolio-max-width">
  {% if posts %}
  {% for post in posts %}
  {% if forloop.first %}
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
      {% if post.photo %}
        <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
            <a href="{% url 'blog:post_single' post.slug %}"><img class="article-image-first" src="{{ post.photo.url }}" border="0" alt=""></a>
        </div>
        {% endif %}
        <div class="mdl-cell mdl-cell--12-col">
            <h2 class="mdl-card__title-text">{{ post.title }}</h2>
            <div class="mdl-card__supporting-text padding-top">
                <span>Posted {{ post.createdAt|naturaltime }}</span>
                <a href="" onclick="fbshare('{{ post.slug }}',{% if post.photo %} '{{ post.photo.url }}' {% else %} '' {% endif %},
                '{{ post.title }}','{{ post.summary }}')"><div id="tt2" class=" icon material-icons portfolio-share-btn">share</div></a>
                <div class="mdl-tooltip" for="tt1">
                    Share via social media
                </div>
            </div>
            <div class="mdl-card__supporting-text no-left-padding">
                <p>{{ post.summary }}</p>
                <span>Category:
                {% for cat in post.category.all %}
                  <a href="{% url 'blog:posts_cat' cat.slug %}">{{ cat.title }}</a>
                {% endfor %}
                </span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{% url 'blog:post_single' post.slug %}">
                Read More
              </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ post.title }}</h2>
        </div>
        {% if post.thumbnail %}
        <div class="mdl-card__media">
            <a href="{% url 'blog:post_single' post.slug %}"> <img class="article-image" src="{{ post.thumbnail.url }}" border="0" alt=""></a>
        </div>
        {% endif %}
        <div class="mdl-card__supporting-text no-bottom-padding">
            <span>{{ post.createdAt|naturaltime }}</span>
            <a href="" onclick="fbshare('{{ post.slug }}',{% if post.photo %}'{{ post.photo.url }}' {% else %} '' {% endif %},
            '{{ post.title }}','{{ post.summary }}')"><div id="tt2" class=" icon material-icons portfolio-share-btn">share</div></a>
            <div class="mdl-tooltip" for="tt2">
                Share via social media
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <p>{{ post.summary }}</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{% url 'blog:post_single' post.slug %}">
            Read More
          </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h3>No posts added yet</h3>
    {% endif %}
</div>
{% endblock %}
{% block fbshare %}
<script>
function fbshare(slug,photo,title){
  var blogUrl = 'http://www.hassanabid.com/blog/';
  var baseUrl = 'http://www.hassanabid.com';
    FB.ui({
      method: 'share',
      href: blogUrl.concat(slug),
      picture: baseUrl.concat(photo),
      caption: title,
      summary: summary,
    }, function(response){
      if (response && !response.error_message) {
      console.log('Posting completed.');
      } else {
        console.log('Error while posting.');
      }
    });
}
</script>
{% endblock %}
