{% extends 'resume/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% load humanize %}
{% block title %}
<title>{{ post.title }}</title>
{% endblock %}
{% block fbtags %}
<!-- Fb Tags-->
<meta name="description" content="{{ post.summary }}">
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="fb:app_id" content="722253317920977" /> 
  <meta property="article:author" content="https://www.facebook.com/hassanabidpk89" />
  <meta property="og:description" content="{{ post.summary }}" />
  {% if post.photo %}
  <meta property="og:image"content="http://www.hassanabid.com{{ post.photo.url }}" />
  {% else %}
  <meta property="og:image"content="http://www.hassanabid.com/static/resume/images/hassan_gds.jpg" />
  {% endif %}
  <meta property="og:url" content="http://www.hassanabid.com/blog/{{ post.slug }}" />
{% endblock %}
{% block fbjs %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '722253317920977',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
{% block content %}
<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        {% if post.photo %}
        <div class="mdl-card__media">
            <img class="article-image" src="{{ post.photo.url }}" border="0" alt="">
        </div>
        {% endif %}
        <div class="mdl-card__supporting-text">
          Category:
            {% for cat in post.category.all %}
            <a href="{% url 'blog:posts_cat' cat.slug %}">{{ cat.title }}</a>
            {% endfor %}
            <a href="" onclick="fbshare('{{ post.slug }}',{% if post.photo %}'{{ post.photo.url }}' {% else %} ''{% endif %},'{{ post.title }}')"><div id="tt2" class=" icon material-icons portfolio-share-btn">share</div></a>
        </div>
            <h3 class="mdl-cell mdl-cell--12-col-desktop mdl-cell--4-col-phone mdl-typography--headline">{{ post.title }}</h3>
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <p>
                    {{ post.content|markdown }}
                </p>
            </div>
        <div class="mdl-card__supporting-text">
          <span>{{ post.createdAt|naturaltime }}</span>
        </div>
    </div>
</div>
{% endblock %}
{% block fbshare %}
<script>
function fbshare(){
    FB.ui({
      method: 'share',
      href: 'http://www.hassanabid.com/blog/{{ post.slug }}',
      {% if post.photo %}
      picture: 'http://hassanabid.com{{ post.photo.url }}', {% endif %}
      caption: '{{ post.title }}',
      summary: "{{ post.summary }}",

    }, function(response){
      if (response && !response.error_message) {
      console.log('Posting completed.');
      } else {
        console.log('Error while posting.');
      }
    });
}
</script>
{% endblock %}
