{% extends 'resume/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% load humanize %}
{% block title %}
<title>{{ post.title }}</title>
{% endblock %}
{% block fbtags %}
<!-- Fb Tags-->
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Hassan Abid" />
  <meta property="article:author" content="https://www.facebook.com/hassanabidpk89" />
  <meta property="og:description" content="{{ post.summary }}" />
  {% if post.photo %}
  <meta property="og:image"content="http://www.hassanabid.com/media{{ post.photo.url }}" />
  {% else %}
  <meta property="og:image"content="{% static 'resume/images/hassan_gds.jpg' %}" />
  {% endif %}
  <meta property="og:url" content="http://www.hassanabid.com" />
{% endblock %}
{% block content %}
<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        {% if post.photo %}
        <div class="mdl-card__media">
            <img class="article-image" src="{{ post.photo.url }}" border="0" alt="">
        </div>
        {% endif %}
        <div class="mdl-card__supporting-text">
          Category: 
            {% for cat in post.category.all %}
            <a href="{% url 'blog:posts_cat' cat.slug %}">{{ cat.title }}</a>
            {% endfor %}
        </div>
            <h3 class="mdl-cell mdl-cell--12-col-desktop mdl-cell--4-col-phone mdl-typography--headline">{{ post.title }}</h3>
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <p>
                    {{ post.content|markdown }}
                </p>
            </div>
        <div class="mdl-card__supporting-text">
          <span>{{ post.createdAt|naturaltime }}</span>
        </div>
    </div>
</div>
{% endblock %}
